1 VERSIONINFO
FILEVERSION 0, 0, 0, 0
PRODUCTVERSION 0, 0, 0, 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", ""
            VALUE "CompanyName", "                                                  "
            VALUE "FileDescription", ""
            VALUE "FileVersion", "0, 0, 0, 0"
            VALUE "InternalName", ""
            VALUE "LegalCopyright", ""
            VALUE "OriginalFilename", ""
            VALUE "PrivateBuild", ""
            VALUE "ProductName", "                                                  "
            VALUE "ProductVersion", "000,000,000,000"
        END
    END
END